.navbar .navbar-brand{
    font-family: "DM Serif ";
    font-size: 30px;
}
.navbar
{
    
    font-family: 'DM Sans';
}
.tour-text-color{
    color: #5C98F2;
}

@media screen and (max-width: 990px) {
    .offcanvas.offcanvas-end {
        width: 50% !important;
    }
}

body{
    min-width: 348px;
}
